backend:
  name: git-gateway
  branch: master # Branch to update (optional; defaults to master)
media_folder: static/images
public_folder: /images
logo_url: https://confident-jackson-551d3b.netlify.app/images/logo.png
collections:
  - name: "aktuellt" # Used in routes, e.g., /admin/collections/blog
    label: "Aktuellt" # Used in the UI
    folder: "content/aktuellt" # The path to the folder where the documents are stored
    create: true # Allow users to create new documents in this collection
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}" # Filename template, e.g., YYYY-MM-DD-title.md
    editor:
      preview: false
    fields: # The fields for each document, usually in front matter
      - { label: 'Title', name: 'title', widget: 'string' }
      - { label: 'Publicerat datum', name: 'date', widget: 'datetime' }
      - { label: 'Beskrivning (för metadata)', name: 'description', widget: 'string' }
      - { label: 'Bild', name: 'image', widget: 'image' }
      - { label: 'Innehåll', name: 'body', widget: 'markdown' }