<!-- image-button contnet start-->
<section>
  <div class="py-4 bg-color-main bg-pos_cc" style="background-image: linear-gradient( rgba(31, 31, 31, 0.9), rgba(31,31, 31, 0.9) ),  url('{{.Site.BaseURL}}/images/kontakt.jpg');">
    <div class="container py-5 text-center">
      <div class="py-3">
        <h1 class="text-white title ">Redo att prata?</h1>
        <a role="button" class="btn btn-lg btn-blue my-4" href="{{.Site.BaseURL}}/kontakt">Kontakta ledarskapscoachen</a>
      </div>
    </div>
  </div>
</section>
<!--image-button content end-->