<!-- footer start-->
<footer class="container-fluid bg-color-main">

  <div class="row p-5 text-white">
    <div class="col sm-12 col-lg-3">
      <a class="navbar-brand brand text-center" href="{{.Site.BaseURL }}"><img src="{{.Site.BaseURL }}/images/logo3.png" class="logo">
        <br>
      <span class="text-white">Ledarskapscoachen</span>
      </a>
    </div>

    <div class="col-sm-12 col-lg-3">
      <nav class="navbar navbar-expand-lg navbar-dark bg-color-main px-0 pt-0">
        <div class="w-100">
          <h4 class="navbar-brand">Meny</h4>
          <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbarToggle1"
            aria-controls="navbarToggle1" aria-expanded="false" aria-label="Toggle navigation">
            <!-- <span class="navbar-toggler-icon"></span> -->
            <i class='fa fa-angle-down rotate'></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle1">
            <ul class="navbar-nav flex-column mr-auto mt-2 mt-lg-0">
              {{ range .Site.Menus.main}}
              <li class="nav-item">
                <a class="nav-link" href="{{ .URL | absURL }}">{{.Name}}</a>
              </li>
              {{ end }}
            </ul>
          </div>
      </nav>
    </div>

    <div class="col-sm-12 col-lg-3">
      <nav class="navbar navbar-expand-lg navbar-dark bg-color-main px-0 pt-0">
        <div class="w-100">
          <h4 class="navbar-brand">Kontakt</h4>
          <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbarToggle2"
            aria-controls="navbarToggle2" aria-expanded="false" aria-label="Toggle navigation">
            <!-- <span class="navbar-toggler-icon"></span> -->
            <i class='fa fa-angle-down rotate'></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle2">
            <ul class="navbar-nav flex-column mr-auto mt-2 mt-lg-0 ">
              <li class="nav-item">
                <a class="nav-link" href="mailto:{{.Site.Params.contact.email}}">{{.Site.Params.contact.email}}</a>
              </li>
              <li class="nav-item" style="padding: 10px 0px 10px 0px;">
                {{.Site.Params.contact.phone}}
              </li>
              <li class="nav-item" style="padding: 10px 0px 10px 0px;">
                {{.Site.Params.contact.address}}
              </li>
            </ul>
          </div>
      </nav>
    </div>

    <div class="col-sm-12 col-lg-3">
      <nav class="navbar navbar-expand-lg navbar-dark bg-color-main px-0 pt-0">
        <div class="w-100">
          <h4 class="navbar-brand">Social media</h4>
          <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbarToggle3"
            aria-controls="navbarToggle3" aria-expanded="false" aria-label="Toggle navigation">
            <!-- <span class="navbar-toggler-icon"></span> -->
            <i class='fa fa-angle-down rotate'></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle3">
            <ul class="navbar-nav flex-column mr-auto mt-2 mt-lg-0">
              <li class="nav-item active">
                <a href="#"><i class="fa fa-2x fa-instagram pb-4 pr-4"></i></a>
              </li>
              <li class="nav-item">
                <a href="#"><i class="fa fa-2x  fa-facebook-square pb-4"></i></a>
              </li>
              <li class="nav-item">
                <a href="#"><i class="fa fa-2x fa-linkedin-square pr-4"></i></a>
              </li>
            </ul>
          </div>
      </nav>
    </div>

  </div>



 <!--script start-->
 <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
 integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
 crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
 integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
 crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
 integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
 crossorigin="anonymous"></script>
<!--script end-->


 <!-- scroll js start-->
 <script src="{{ .Site.BaseURL }}js/navbar-scroll.js"></script>
<!-- scroll js end -->


  <!-- <script>
      $(".cookie-message button").click(function(){
        $(this).parent().toggleClass("d-none");
      });
      </script> -->

<script src="{{.Site.BaseURL }}/js/arrow-rotation.js" type="text/javascript"></script>
<script src="{{.Site.BaseURL }}/js/cookies.js" type="text/javascript"></script>
<script src="{{.Site.BaseURL }}/js/smooth-scroll-polly.js" type="text/javascript" defer="defer"></script>


</footer>
<!-- footer end-->