  <!-- full-width video content start-->
  <div class="py-5 bg-color-main image-overlay bg-pos_cc" style="background-image: url('{{.Site.BaseURL}}/images/annah3.png');">
    <div class="container py-5 text-center">
      <div class="row h-100">
        <div class="col-sm-12 py-5">
          <div class="w-50 mx-auto text-center">
            <h1 class="text-white title">Möt ledarskapscoachen Annah</h1>
            <!-- Button trigger modal -->
            <button type="button" class="btn video-btn" data-toggle="modal" data-src="https://www.youtube.com/embed/veyZfjYxRu8" data-target="#myModal">
            <i class="fa fa-play"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- full-width video content end-->

  <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <!-- 16:9 aspect ratio -->
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="" id="video"  allowscriptaccess="always" allow="autoplay"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>