
  <!-- heading section start-->
<section class="py-4 image-overlay bg-pos_cc bg-color-main">
  <div class="container py-4">
    <h2 class="text-center text-white title">Coachingprocessen</h2>
  </div>
</section>
<!-- heading section end-->
<section class="bg-color-gray">
  <div class="container-fluid px-0">
    <div class="row justify-content-between p-4 text-white text-center">

      <div class="col-12 col-md-6 col-lg-3 bg-color-main p-4">
        <h4 class="cinzel"><span class="text-color-blue">1.</span> Kontraktet</h4>
        <p>Att skapa ett partnerskap i coachingen</p>
      </div>
      <div class="col-12 col-md-6 col-lg-3 bg-color-secondary p-4">
        <h4 class="cinzel"><span class="text-color-blue">2.</span> Förändringen</h4>
        <p>Planering och coaching om det som ska åstadkommas.</p>
      </div>
      <div class="col-12 col-md-6 col-lg-3 bg-color-main p-4">
        <h4 class="cinzel"><span class="text-color-blue">3.</span> Aktiv coaching</h4>
        <p>X antal coachingsamtal</p>
      </div>
      <div class="col-12 col-md-6 col-lg-3 bg-color-secondary p-4">
        <h4 class="cinzel"><span class="text-color-blue">4.</span> Debriefing</h4>
        <p>Planering inför fortsättningen</p>
      </div>
    </div>
    <div class="pt-4 text-white bg-color-main">
      <div class="container p-4">
        <p class="text-center">I coachingen är det, förutom den personliga dimensionen, viktigt
        att fokusera på resultat i verksamheten, affärsmål och hur du som ledare anpassar dig till organisationen med de ändrade beteenden och förmågor som du utvecklar genom coachningen.
        </p>
      </div>
    </div>
  </div>
</section>


