{{ define "main"}}

<!-- heading section start-->
<section class="py-4 bg-color-main image-overlay nav-adjustment" id="tjanster">
  <div class="container py-4">
    <h2 class="text-center text-white title">SIDAN KUNDE INTE HITTAS (404)</h2>
  </div>
</section>
<!-- heading section end-->

<section class="bg-color-gray py-4" id="services">
  <div class="container py-4 mb-4 text-center">
    <h4><a href="{{ "/" | relURL }}">gå till startsidan</a></h1>
    </div><!-- ROW -->
  </div>
</section>

{{ end }}