{{ define "main"}}


<!-- startpage start-->
<div class="fullscreen image-overlay bg-pos_cc" style="background-image: url({{.Site.BaseURL }}/images/bg.jpg);">
  <div class="row h-100 align-items-center">
    <div class="col-sm-12">
      <div class="w-50 mx-auto jumbo-holder text-center">
        <h1 class="jumbo-text p-4 d-block text-white text-center">
          Er ledarskapsutveckling börjar här!
        </h1>
        <!-- <h3 class="bg-color-main text-white p-2 d-block title">Ta ditt företag till nya höjder</h3> -->
        <a href="{{ .Site.BaseURL }}/kontakt" role="button" class="btn btn-lg btn-white my-4 mr-4">
          Ta kontakt
        </a>
        <a href="{{ .Site.BaseURL }}/om-ledarskapscoachen" role="button" class="btn btn-lg btn-blue my-4">
          Om Ledarskapscoachen
        </a>
      </div>
    </div>
  </div>
</div>

<div class="arrow bounce">
  <a href="#tjanster"><i class="fa fa-3x fa-chevron-down"></i></a>
</div>
<!-- <div class="bottom-banner"></div> -->
<!-- startpage end-->


{{- partial "services.html" . -}}

<!--2-row full-width with bg-img-->
<section class="container-fluid p-0 m-0">
  <div class="row align-items-center m-0 bg-color-main">
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 cover bg-pos_50_35" style="background-image: url('{{ .Site.BaseURL }}/images/resultat.jpg');">
      <h1 class="text-center text-white py-10"></h1>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-5 p-0 align-self-center m-auto ">
        <h2 class="title text-white">Vilka resultat kan ni förvänta er av ledarskapsträning?</h2>
        <div class="row">
          <div class="col-12 col-lg-9 m-auto">
        <p class="text-white text-center">
          <ul class="custom-ul text-white">
            <li class="py-2"><i class="fa fa-minus  pr-2"></i> Få konkreta verktyg till att hantera konflikter</li>
            <li class="py-2"><i class="fa fa-minus  pr-2"></i> Lära er att anpassa er ledarstil till olika situationer</li>
            <li class="py-2"><i class="fa fa-minus  pr-2"></i> Öka engagemanget i organisationen</li>
            <li class="py-2"><i class="fa fa-minus  pr-2"></i> Sätta era strategiska prioriteringar för verksamheten</li>
            <li class="py-2"><i class="fa fa-minus  pr-2"></i> Identifiera lönsamma ledarskapsbeteenden</li>
            <li class="py-2"><i class="fa fa-minus  pr-2"></i> Arbeta igenom förväntningar i ledarskapet </li>
            <li class="py-2"><i class="fa fa-minus  pr-2"></i> Få ut mer av era möten</li>
            <li class="py-2"><i class="fa fa-minus  pr-2"></i> Bli tryggare i att fatta beslut</li>
          </ul>
        </p>
        <div class="text-left">
          <a href="{{ .Site.BaseURL }}/tjanster/ledarskapscoaching" role="button" class="btn btn-lg btn-blue my-4 mr-4">Läs mer</a>
          <a href="{{ .Site.BaseURL }}/kontakt" role="button" class="btn btn-lg btn-white my-4">Ta kontakt</a>
        </div>
      </div>
    </div>
      </div>
  </div>
</section>
<!--2-row full-width with bg-img-->

{{- partial "testimonial.html" . -}}
<!-- {{- partial "startpage_video.html" . -}} -->
{{- partial "news.html" . -}}
{{- partial "contact_banner.html" . -}}
{{ end }}